@model Demo.Models.EquiposModelView
<option value="">--Seleccionar Version--</option>
@if (ViewBag.VersionList != null && ViewBag.VersionCount != 0)
{
	foreach(var item in ViewBag.VersionList)
	{
		<option value="@item.Value">@item.Text</option>
	}
	if (ViewBag.version != null && ViewBag.nombreversion != null)
	{
		<option value="@ViewBag.version" selected="selected">@ViewBag.nombreversion</option>
	}
}
else
{
	<option value="" selected="selected">No aplica</option>
}
